<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録</title>
</head>
<body>
	<h1>会員登録</h1>
	<ul th:if="${errorList}">
		<li th:each="error : ${errorList}" th:text="${error}"></li>
	</ul>
	<form action="/account/confirm" method="post">
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" th:value="${account.name}" /></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email" th:value="${account.email}" /></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password" /></td>
			</tr>
		</table>
		<p><button>確認</button></p>
	</form>
</body>
</html>